body {
    background-image: url(../images/hill-station-3.jpg);
    background-size: cover;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 12.5%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 22px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar a::after{
    content:"";
    position: absolute;
    left:0;
    bottom: -6px;
    width:100%;
    height:2px;
    background: white;
    border-radius: 6px;
    transform: translateY(9px);
    opacity: 0;
    transition: .3s;
}
.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}
.search-bar{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    z-index: 100;
}

.search-bar input{
    width: 100px;
    background: transparent;
    border: none;
    font-size: 17px;
    outline: none;
    color:white;
    
}
.search-bar input::placeholder{
    color: white;
}
.search-bar button{
    width: 38px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.search-bar button i{
    font-size: 22px;
    color: white;
}
.form {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: 1px solid #72582c;
    border-radius: 5px;
    align-items: center;
    margin-left: auto;
    border: none;
    
  
}
.form h4 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.form .login {
    display: flex;
    width: 85%;
}
.login input, button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 20px;  
}
.login input {
    background-color: #ffffff2e;
    color: #fff;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-repeat: no-repeat;
    
}
.login input::placeholder {
    font-size: 14px;
    color: #c0b4b4;
}

h1{
    color: white;
    margin-left: 50px;
    font-size:60px;
}
.radio-tag{
     display: flex;
     justify-content: center;
     margin: 10px;
     padding-left: 20px ;
}
.disappear{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	text-align:left;
	height: fit-content;
	bottom: 0;
	top: 0;
    font-size: 60px;
}
.disappear span{
	display: inline-block;
	color: transparent;
	text-shadow: 0px 0px 0px rgb(255, 255, 255);
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.disappear span:nth-child(1)
{
	animation-name: disappearleft;
}


.disappear span:nth-child(2)
{
	animation-name: disappearleft;
	animation-delay: .3s;
}

.disappear span:nth-child(3)
{
	animation-name: disappearleft;
	animation-delay: .6s;
}

.disappear span:nth-child(4)
{
	animation-name: disappearleft;
	animation-delay: .8s;
}

.disappear span:nth-child(5)
{
	animation-name: disappearleft;
	animation-delay: 1s;
}

.disappear span:nth-child(6)
{
	animation-name: disappearleft;
	animation-delay: 1.3s;
}

@keyframes disappearleft{
	50%{
		transform: skew(50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}


@keyframes disappearright{
	50%{
		transform: skew(-50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}
p{
    
    color: #c0b4b4;
}
.drop-down
{
    display: flex;
    width: 85%;
    background-color: #ffffff2e;
    color:none;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-repeat: no-repeat;
    background-color: none;
    
}
.submit-btn
{
    width: 100px;
    border-radius: 10px;
    padding: 12px;
    color: black;
    margin-top: 26px;

}
.submit-btn:hover
{
    color:#72582c;
    border: none;
    box-shadow: 0px 3px 8px #8fe2aa;
    background-color:#c0b4b4;
}
.java
{   display: inline-block;
    font-size: 18px;
    margin-right:400px;
}
.java-div
{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}
.java-btn
{
    margin-top:-40px;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    background: none;
    font-size: 15px;
    margin-right: -70px;
    margin-left: 90px;
    color: #fff;
    cursor: pointer;
    
   
}
.zero{
    font-size: 19px;
    margin-left: 80px;
}
.java-btn:hover
{
    color:deepskyblue;
    box-shadow: 0px 5px 5px gray;
   
}

