*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: nexa;
}
ul{
    list-style: none;
}
 .anchor{
    text-decoration: none;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px ;
}
